<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Verify</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="index.css" />
</head>

<body>
  <main>
    <div id="right-veri" class=" hide veri bg-green">
      <p id="right" class="text">
        Verificando...
      </p>
    </div>
    <div id="wrong-veri" class="hide veri bg-red">
      <p id="wrong" class="text">
      </p>
    </div>
  </main>
  <script src="index.js"></script>
</body>

</html>