<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <header>
        <nav id="bar-nav">
            <ul id="menu-bar">
                <li class="items-menu">
                    <a id="btn-login" class="links-item" href="/login">
                        Ingresar
                    </a>
                </li>
                <li class="items-menu">
                    <a id="btn-register" class="links-item" href="/register">
                        Registrar
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="welcome-joinus" class="split-body">
            <div id="img-contain-welcome">
                <img src="/img/fitness_tracker.svg" alt="">
            </div>
            <div id="welcome-text">
                <div id="title-contain-welcome">
                    <h1 id="title-welcome">!Bienvenido¡</h1>
                </div>
                <div id="text-contain-welcome">
                    <p id="text-welcome">Un app de entrenamiento donde encontraras ejercicios basicos de
                        <span>Calistenia y
                            Gimnasio.</span>
                    </p>
                </div>
            </div>
            <div id="btn-contain-joinus">
                <button id="btn-joinus">Unete</button>
            </div>
        </div>
        <div id="historial" class="split-body">
            <div id="title-historial">
                <h2>Historial de Rutinas</h2>
            </div>
            <div id="explain-historial">
                <p id="progress-place">
                    Un lugar donde podras ver tus progresos
                    <br> en tus entrenamientos.
                </p>
                <p id="coming-soon">Tambien proximamente:</p>
                <ul>
                    <li>APNEA</li>
                    <li>SPRINT</li>
                </ul>
            </div>
            <div id="img-historial">
                <img src="/img/fitness_stats.svg" alt="">
            </div>
        </div>
    </main>
    <script src="index.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>