* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

@media (max-width: 750px) {

    /*menu website*/
    header {
        height: 5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menu {
        height: 100%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #808080;
        border-radius: 0px 0px 15px 15px;
        -webkit-border-radius: 0px 0px 15px 15px;
        -moz-border-radius: 0px 0px 15px 15px;
        -ms-border-radius: 0px 0px 15px 15px;
        -o-border-radius: 0px 0px 15px 15px;
    }

    #hamburger {
        height: 100%;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 75px;
    }

    #menu-list {
        height: 500px;
        width: 90%;
        position: absolute;
        z-index: 100;
        top: 5rem;
        left: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        background-color: #808080;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    .items-menu {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .links-item {
        height: 100%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #fff;
        border-left: none;
        border-right: none;
        border-radius: 15px 7.5px 15px 7.5px;
        -webkit-border-radius: 15px 7.5px 15px 7.5px;
        -moz-border-radius: 15px 7.5px 15px 7.5px;
        -ms-border-radius: 15px 7.5px 15px 7.5px;
        -o-border-radius: 15px 7.5px 15px 7.5px;
        color: #fff;
        font-size: 25px;
        text-align: center;
    }

    /*sub-menu*/

    #sub-menu-train {
        height: 15rem;
        width: 100%;
        position: absolute;
        top: 35%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;
        background-color: #737373;
        border: 3px solid #fff;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        overflow-y: scroll;
        padding-top: 7.5rem;
        padding-bottom: 3rem;
    }

    #sub-menu-train::-webkit-scrollbar {
        width: 5px;
    }

    #sub-menu-train::-webkit-scrollbar-thumb {
        background-color: #0000ff;
        border-radius: 0.25rem;
    }

    .sub-items-menu {
        height: 50px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        border-radius: 15px 0px 15px 0px;
        -webkit-border-radius: 15px 0px 15px 0px;
        -moz-border-radius: 15px 0px 15px 0px;
        -ms-border-radius: 15px 0px 15px 0px;
        -o-border-radius: 15px 0px 15px 0px;
        padding: 1rem 0;
    }

    .sub-links-item {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
        text-decoration: none;
    }

    /*body*/
    body {
        height: 100%;
        width: 100%;
    }

    main {
        height: 100%;
        width: 100%;
        padding: 2rem 0rem;
    }

    #training-contain {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #menu-contain {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #0000ff;
    }

    #link-train {
        height: 50px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        overflow: hidden;
    }

    #btn-train span {
        font-size: 2rem;
    }

    #btn-train {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        color: #fff;
        font-size: 1.4rem;
        padding: 10px 0;
    }

    .hide-menu {
        height: 50px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;

    }

    .show-menu {
        height: 350px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;

    }

    #page-menu {
        height: 100%;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: #0000ff;
        padding: 0.5rem 1rem;
    }

    .links-contain {
        height: 20%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .days-link {
        height: 80%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 0px 10px;
    }

    .days-link:active {
        /*Indigo950*/
        background-color: #1e1b4b;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .days-link:hover {
        cursor: pointer;
    }

    /**/

    #train-carousel {
        height: 70%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10%;
    }

    .train-split {
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    .link-train {
        height: 5rem;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #808080;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: 0px 0px 30px #999999,
            inset 0px 0px 15px #999999;
        text-decoration: none;
        padding: 1rem;
    }

    .title-train {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0000ff;
        font-size: 1.7rem;
        font-weight: 700;
    }

    .split-contain {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .split {
        height: 375px;
        width: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 3rem 1.5rem;
        border: 2px solid #0000ff;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .title-equipment {
        color: #fff;
        font-size: 1.6rem;
    }

    .images {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

@media (min-width: 750px) {

    /*menu website*/
    header {
        height: 5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menu {
        height: 100%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #hamburger {
        display: none;
    }

    #menu-list {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: #808080;
        border-radius: 0px 0px 15px 15px;
        -webkit-border-radius: 0px 0px 15px 15px;
        -moz-border-radius: 0px 0px 15px 15px;
        -ms-border-radius: 0px 0px 15px 15px;
        -o-border-radius: 0px 0px 15px 15px;
        padding: 0rem 1rem;
    }

    .items-menu {
        height: 75%;
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #fff;
        border-left: none;
        border-right: none;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    .links-item {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 25px;
        text-align: center;
    }

    .links-item:active {
        background-color: #999999;
    }

    .links-item:hover {
        background-color: #737373;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    /*sub-menu*/

    #sub-menu-train {
        height: 15rem;
        width: 90%;
        position: absolute;
        top: 5rem;
        left: 5%;
        right: 0%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;
        background-color: #737373;
        border: 3px solid #fff;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        overflow-y: scroll;
        padding-top: 7.5rem;
        padding-bottom: 3rem;
    }

    #sub-menu-train::-webkit-scrollbar {
        width: 5px;
    }

    #sub-menu-train::-webkit-scrollbar-thumb {
        background-color: #0000ff;
        border-radius: 0.25rem;
    }

    .sub-items-menu {
        height: 50px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        border-radius: 15px 0px 15px 0px;
        -webkit-border-radius: 15px 0px 15px 0px;
        -moz-border-radius: 15px 0px 15px 0px;
        -ms-border-radius: 15px 0px 15px 0px;
        -o-border-radius: 15px 0px 15px 0px;
        padding: 1rem 0;
    }

    .sub-links-item {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
        text-decoration: none;
    }

    /*body*/
    body {
        height: 100%;
        width: 100%;
    }

    main {
        height: 100%;
        width: 100%;
        padding: 5rem 0rem;
    }

    #training-contain {
        height: 100vh;
        width: 100%;
        display: flex;
    }

    #menu-contain {
        height: 100%;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #page-menu {
        height: 100%;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        /*Indigo 800*/
        background-color: #3730a3;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        padding: 1rem 0.5rem;
    }

    .links-contain {
        height: 100%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .days-link {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border: 2px solid #000;
        border-left: none;
        border-right: none;
        border-radius: 20px 0px 20px 0px;
        -webkit-border-radius: 20px 0px 20px 0px;
        -moz-border-radius: 20px 0px 20px 0px;
        -ms-border-radius: 20px 0px 20px 0px;
        -o-border-radius: 20px 0px 20px 0px;
        font-size: 1.7rem;
        font-weight: 600;
    }

    .days-link:hover {
        /*Indigo 950*/
        background-color: #1e1b4b;
    }

    /**/

    #train-carousel {
        height: 100%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .train-split {
        height: 80%;
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }


    .link-train {
        height: 10rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border: 2px solid #808080;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: 0px 0px 30px #999999,
            inset 0px 0px 15px #999999;
        text-decoration: none;
        padding: 1rem;
    }

    .link-train:hover {
        height: 100%;
        background-color: #999999;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .title-train {
        height: 100%;
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        font-weight: 700;
    }

    .split-contain {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .split {
        height: 450px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 3rem 1.5rem;
        border: 2px solid #0000ff;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .title-equipment {
        color: #fff;
        font-size: 1.6rem;
    }

    .images {
        height: 70%;
        width: 70%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}