<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Sesion</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <header>
        <nav id="menu">
            <a id="hamburger"><ion-icon name="menu-outline"></ion-icon></a>
            <ul id="menu-list" class="hide">
                <!--
                <li class="items-menu">
                    <a class="links-item" href="/profile">
                        Perfil
                    </a>
                </li>
                -->
                <li class="items-menu">
                    <a id="training-btn" class="links-item">Training</a>
                    <ul id="sub-menu-train" class="hide">
                        <li class="sub-items-menu">
                            <a href="/my-rutine-monday" class="sub-links-item">
                                Lunes Back-Quad
                            </a>
                        </li>
                        <li class="sub-items-menu">
                            <a href="/my-rutine-tuesday" class="sub-links-item">
                                Martes Chest-Hamstrings
                            </a>
                        </li>
                        <li class="sub-items-menu">
                            <a href="/my-rutine-wednesday" class="sub-links-item">
                                Miercoles Back-Glute
                            </a>
                        </li>
                        <li class="sub-items-menu">
                            <a href="/my-rutine-thursday" class="sub-links-item">
                                Jueves Chest-Hamstring
                            </a>
                        </li>
                        <li class="sub-items-menu">
                            <a href="/my-rutine-friday" class="sub-links-item">
                                Viernes Back-Quad
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="items-menu">
                    <a id="logout-link" class="links-item">
                        Cerrar Sesion
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <!--

        <div id="welcome-container">
            <div class="split-welcome">
                <h1 id="welcome-title">¡Bienvenido!</h1>
                <p id="welcome-text">
                    Si es tu primera vez aqui o
                    quieres actualizarlo te
                    recomendamos,
                    <a id="w-h-link" href="/weight-height">
                        darnos tu peso y
                        estatura.
                    </a>
                </p>
            </div>
            <div class="split-welcome">
                <div class="split-whg"><img src="/img/altura-personas.png" alt="" class="img-whg"></div>
                <div class="split-whg"><img src="/img/pesos-personas.png" alt="" class="img-whg"></div>
            </div>
        </div>
        -->
        <div id="training-contain">
            <div id="menu-contain" class="hide-menu">
                <div id="link-train">
                    <a id="btn-train">
                        Entreno
                        <span id="arrow-up" class="show"><ion-icon name="chevron-down-outline"></ion-icon></span>
                        <span id="arrow-down" class="hide"><ion-icon name="chevron-up-outline"></ion-icon></span>
                    </a>
                </div>
                <div id="page-menu" class="hide">
                    <div class="links-contain"><a id="train-one" class="days-link">Lunes</a></div>
                    <div class="links-contain"><a id="train-two" class="days-link">Martes</a></div>
                    <div class="links-contain"><a id="train-three" class="days-link">Miercoles</a></div>
                    <div class="links-contain"><a id="train-four" class="days-link">Jueves</a></div>
                    <div class="links-contain"><a id="train-five" class="days-link">Viernes</a></div>
                </div>
            </div>
            <div id="train-carousel">
                <div id="monday" class="train-split show">
                    <a class="link-train" href="/my-rutine-monday">
                        <p class="title-train">Dorsales-Biceps</p>
                        <p class="title-train">Cuadriceps-Gluteos</p>
                    </a>
                    <div class="split-contain">
                        <div class="split">
                            <h2 class="title-equipment">Parque</h2>
                            <img class="images" src="/img/dominadas-supinas.png" alt="">
                            <img class="images" src="/img/sentadillas-sin-peso.png" alt="">
                        </div>
                        <div class="split">
                            <h2 class="title-equipment">Casa</h2>
                            <img class="images" src="/img/pulldown-supinas.png" alt="">
                            <img class="images" src="/img/sentadillas-sin-peso.png" alt="">
                        </div>
                    </div>
                </div>
                <div id="tuesday" class="train-split hide">
                    <a class="link-train" href="/my-rutine-tuesday">
                        <p class="title-train">Pecho-Triceps</p>
                        <p class="title-train">Isquios-Erectores</p>
                    </a>
                    <div class="split-contain">
                        <div class="split">
                            <h2 class="title-equipment">Parque</h2>
                            <img class="images" src="/img/paralelas.gif" alt="">
                            <img class="images" src="/img/peso-muerto-piernas-rigidas.png" alt="">
                        </div>
                        <div class="split">
                            <h2 class="title-equipment">Casa</h2>
                            <img class="images" src="/img/flexiones.webp" alt="">
                            <img class="images" src="/img/peso-muerto-piernas-rigidas.png" alt="">
                        </div>
                    </div>
                </div>
                <div id="wednesday" class="train-split hide">
                    <a class="link-train" href="/my-rutine-wednesday">
                        <p class="title-train">Dorsales-Upper_Back</p>
                        <p class="title-train">Gluteos-Cuadriceps</p>
                    </a>
                    <div class="split-contain">
                        <div class="split">
                            <h2 class="title-equipment">Parque</h2>
                            <img class="images" src="/img/dominadas-abiertas.png" alt="">
                            <img class="images" src="/img/sumo-squat.gif" alt="">
                        </div>
                        <div class="split">
                            <h2 class="title-equipment">Casa</h2>
                            <img class="images" src="/img/pulldown-abiertas.png" alt="">
                            <img class="images" src="/img/sentadillas-sumo-barra.png" alt="">
                        </div>
                    </div>
                </div>
                <div id="thursday" class="train-split hide">
                    <a class="link-train" href="/my-rutine-thursday">
                        <p class="title-train">Pecho-Triceps</p>
                        <p class="title-train">Isquios-Erectores</p>
                    </a>
                    <div class="split-contain">
                        <div class="split">
                            <h2 class="title-equipment">Parque</h2>
                            <img class="images" src="/img/paralelas.gif" alt="">
                            <img class="images" src="/img/peso-muerto-piernas-rigidas.png" alt="">
                        </div>
                        <div class="split">
                            <h2 class="title-equipment">Casa</h2>
                            <img class="images" src="/img/flexiones.webp" alt="">
                            <img class="images" src="/img/peso-muerto-piernas-rigidas.png" alt="">
                        </div>
                    </div>
                </div>
                <div id="friday" class="train-split hide">
                    <a class="link-train" href="/my-rutine-friday">
                        <p class="title-train">Dorsales-Biceps</p>
                        <p class="title-train">Cuadriceps-Gluteos</p>
                    </a>
                    <div class="split-contain">
                        <div class="split">
                            <h2 class="title-equipment">Parque</h2>
                            <img class="images" src="/img/dominadas-supinas.png" alt="">
                            <img class="images" src="/img/sentadillas-sin-peso.png" alt="">
                        </div>
                        <div class="split">
                            <h2 class="title-equipment">Casa</h2>
                            <img class="images" src="/img/pulldown-supinas.png" alt="">
                            <img class="images" src="/img/sentadillas-sin-peso.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="index.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>