<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peso-Altura</title>
</head>

<body>
    <header id="bar">
        <nav id="nav-bar">
            <ul id="menu-nav">
                <li class="items-menu"><a href="/main" class="links-item">Home</a></li>
                <li class="items-menu"><a href="/profile" class="links-item">Perfil</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <form id="form">
                <div class="split">
                    <label for="" class="labels">Peso en KG</label>
                    <input type="text" class="inputs" placeholder="50">
                </div>
                <div class="split">
                    <label for="" class="labels">Altura en M</label>
                    <input type="text" class="inputs" placeholder="1.8">
                </div>
                <div class="split">
                    <a href="#" id="info-btn">
                        Info
                    </a>
                </div>
                <div class="split">
                    <button id="in-btn">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
        <div>
            <div class="split-whg">
                <img src="/img/altura-personas.png" alt="" class="img-whg">
            </div>
            <div class="split-whg">
                <img src="/img/pesos-personas.png" alt="" class="img-whg">
            </div>
        </div>
    </main>
</body>

</html>